.footer {
    width: 100%;
    padding: 50px 10px;
    box-sizing: border-box;
    background-color: #f7f7f7;
    .fWrap {
        max-width: 1580px;
        margin: 0 auto;

        &_top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 30px;

            .fLeft {
                width: 54%;

                &_txt {
                    display: block;
                    font-size: 12px;
                    color: #909090;
                    line-height: 18px;
                    &.phone {
                        font-size: 20px;
                        color: #1a1a1a;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                }

                &_copyright {
                    margin-top: 30px;
                }

                &_sns {
                    margin-top: 40px;
                    ul {
                        font-size: 0;
                        li {
                            display: inline-block;
                            margin-right: 15px;

                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }

            .fRight {
                font-size: 0;
                width: 46%;
                div {
                    text-align: right;
                    ul {
                        display: inline-block;
                        vertical-align: top;
                        margin-left: 50px;
                        text-align: left;
                        &:first-child {
                            margin-left: 0;
                        }
    
                        li {
                            a {
                                font-size: 12px;
                                color: #606060;
                                line-height: 30px;
                            }
                        }

                        &.bold {
                            li {
                                &:first-child {
                                    a {
                                        color: #000;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }
                }

                &_family {
                    margin-top: 30px;
                    text-align: right;
                    position: relative;

                    select {
                        font-size: 12px;
                        display: inline-block;
                        padding: 5px 20px;
                        color: #1a1a1a;
                        border-radius: 20px;
                        border: 1px solid #1a1a1a;
                        appearance: none;
                        -webkit-appearance: none;
                    }
                }
            }
        }

        &_bot {
            border-top: 1px solid #e5e5e5;
            padding-top: 30px;

            p {
                font-size: 12px;
                color: #909090;
                text-align: center;
            }
        }
    }
}