// primary
$color-primary: (
    --color-primary-100: #f7f7f7,
    --color-primary-110: #909090,
    --color-primary-120: #1a1a1a,
    --color-primary-130: #606060,
    --color-primary-140: #000000,
    --color-primary-170: #ffffff,
    --color-primary-180: #b9b9b9,
    --color-primary-190: #333333,
    --color-primary-200: #c41e20,
    --color-primary-250: #cccccc,
    --color-primary-260: #999999,
    --color-primary-270: #c2c2c2,
    --color-primary-280: #e5e5e5,
    --color-primary-290: #ff752a,
    --color-primary-300: #635447,
    --color-primary-310: #858585,
    --color-primary-320: #adadad,
);

// Product Filter ColrChip
$color-filter: (
    --color-filter-100: #ff0000,
    --color-filter-200: #0000ff,
    --color-filter-300: #000000,
    --color-filter-400: #008000,
    --color-filter-500: #87ceeb,
    --color-filter-600: #a52a2a,
);

// contextual-naming
// $color-gnb: var(--color-primary-170);
// $color-gnb-active: var(--color-primary-190);
// $color-title: var(--color-primary-140);
// $color-goods-name: var(--color-primary-120);
// $color-goods-price: var(--color-primary-120);
// $color-goods-sale: var(--color-primary-180);

// $color-background-white: var(--color-primary-170);