@use '../abstracts/absForward.scss' as a;

// 상품 리스트 페이지
.gdsList_filter {
    width: 250px;
    top: 0;
    transition: all .5s;
    padding-right: 20px;
    margin-left: -450px;
    opacity: 0;
    &.active {
        display: block;
        position: sticky;
        margin-left: 0;
        top: 150px;
        opacity: 1;
    }
    > h3 {
        border-bottom: 1px solid #1a1a1a;
        color: #1a1a1a;
        font-size: 20px;
        padding-bottom: 10px;
        font-weight: 500;
        text-transform: uppercase;
    }
    &_wrap {
        width: 250px;
        height: calc(100vh - 200px);
        overflow-x: hidden;
        overflow-y: auto;
    }
    &_item {
        width: 230px;
        border-bottom: 1px solid #e5e5e5;
        &.color {
            .gdsList_filter_con {
                ul {
                    li {
                        margin-right: 8px;
                        margin-top: 4.5px;
                        width: calc((100% - 40px) / 6);
                        height: 31.66px;
                        &:nth-child(6n) {
                            margin-right: 0;
                        }
                        &:hover {
                            label {
                                border: none;
                                opacity: 0.5;
                            }
                        }
                        label {
                            height: 100%;
                            width: 100%;
                            border-radius: 50%;
                            font-size: 0;
                            border: none;
                            @at-root .red { background-color: red; }
                            @at-root .blue { background-color: blue; }
                            @at-root .black { background-color: black; }
                            @at-root .green { background-color: green; }
                            @at-root .skyblue { background-color: skyblue; }
                            @at-root .brown { background-color: brown; }
                        }
                        input:checked + label {
                            background-image: url('/src/assets/images/icon/ico_color_selected.png');
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                }
            }
        }
        &.on {
            .gdsList_filter_tit {
                &::after {
                    transform: translateY(-50%) rotate(180deg);
                }
            }
            .gdsList_filter_con {
                display: block;
            }
        }
    }
    &_tit {
        padding: 18px 0;
        font-size: 15px;
        color: #1a1a1a;
        cursor: pointer;
        position: relative;
        &::after {
            content: '';
            width: 12px;
            height: 6px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background: url('/src/assets/images/icon/ico_arwFilter.png') no-repeat center / contain;
            transition: all 0.3s;
        }
    }
    &_con {
        font-size: 0;
        padding-bottom: 30px;
        display: none;
        ul {
            li {
                display: inline-block;
                margin: 6px 6px 0 0;
                width: calc((100% - 6px) / 2);
                &:nth-child(2n) {
                    margin-right: 0;
                }
                &:hover {
                    label {
                        border-color: #1a1a1a;
                        color: #1a1a1a;
                    }
                }
                label {
                    display: block;
                    padding: 10px 0;
                    text-align: center;
                    border: 1px solid #e5e5e5;
                    box-sizing: border-box;
                    font-size: 13px;
                    color: #909090;
                    transition: all 0.3s;
                    cursor: pointer;
                    outline: 0;
                }
                input:checked + label {
                    border-color: #1a1a1a;
                    color: #1a1a1a;
                }
            }
        }
    }
}

.gdsList_con {
    width: 100%;
    margin-left: 0;
    transition: all .5s;
    &.active {
        width: calc(100% - 300px);
        // margin-left: 300px;
    }
    &_banner {
        display: flex;
        margin-bottom: 30px;
        a {
            display: block;
            img {
                width: 100%;
            }
        }
    }
    &_wrap {
        position: sticky;
        top: 99px;
        background-color: #fff;
        z-index: 10;
        padding: 10px;
    }
    &_tit {
        // position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3 {
            color: #1a1a1a;
            font-size: 20px;
            padding-bottom: 10px;
            box-sizing: border-box;
            font-weight: 500;
        }
        .filter_switch {
            // position: absolute;
            // top: 0;
            // right: 0;
            display: flex;
            align-items: center;
            p {
                font-size: 14px;
                color: #1a1a1a;
                margin-right: 5px;
                font-weight: 500;
            }
            label {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
                transform: scale(0.7);
                span {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    background-color: #ccc;
                    transition: 0.4s;
                    border-radius: 34px;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 26px;
                        height: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: #fff;
                        transition: all 0.4s;
                        border-radius: 50%;
                    }
                }
                input {
                    &:checked + span {
                        background-color: #000;
                        &::before {
                            transform: translateX(26px);
                        }
                    }
                    &:focus + span {
                        box-shadow: 0 0 1px #000;
                    }
                }
            }
        }
    }
    &_apply {
        font-size: 0;
        display: flex;
        align-items: center;
        gap: 20px;
        height: 27px;
        > button {
            font-size: 13px;
            color: #1a1a1a;
            font-weight: 500;
            background: url('/src/assets/images/icon/ico_refresh.png') no-repeat center left / 14px 17px;
            padding: 2px 0 2px 20px;
            word-break: keep-all;
        }
        .swiper {
            margin: 0;
            .swiper-slide {
                color: #1a1a1a;
                font-size: 15px;
                padding: 5px 25px 5px 12px;
                border-radius: 8px;
                border: 1px solid #1a1a1a;
                text-transform: uppercase;
                position: relative;
                box-sizing: border-box;
                width: auto !important;
                &.colorChip {
                    font-size: 0;
                    span {
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                    }
                }
                &:last-child {
                    margin-right: 0 !important;
                }
                button {
                    position: absolute;
                    top: 50%;
                    right: 7px;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    background: url('/src/assets/images/icon/ico_close_black.png') no-repeat center / contain;
                    margin-top: 1px;
                    span {
                        @include a.blind;
                    }
                }
            }
        }
    }
    &_thumb {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        > div {
            width: calc((100% - 6.6%) / 3);
            margin-right: 3.3%;
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(n + 4) {
                margin-top: 50px;
            }
            img {
                width: 100%;
            }
        }
    }
}