@use '../abstracts/absForward.scss' as a;

// 상품 상세
.prdDetail {
    font-size: 0;
    width: 100%;
    &_left {
        display: inline-block;
        width: 500px;
        vertical-align: top;
        .swiper {
            &-slide {
                border-radius: 15px;
                overflow: hidden;
            }
            &-button-prev {
                background: #fff url('/src/assets/images/icon/ico_arwPrev.png') no-repeat center / 12px 22px;
                transition: all 0.2s ease;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
                &::after {
                    content: '';
                }
                &:hover {
                    opacity: 0.75;
                }
            }
            &-button-next {
                background: #fff url('/src/assets/images/icon/ico_arwNext.png') no-repeat center / 12px 22px;
                transition: all 0.2s ease;
                width: 40px;
                height: 40px;
                border-radius: 100%;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
                &::after {
                    content: '';
                }
                &:hover {
                    opacity: 0.75;
                }
            }
        }
    }
    &_thumb {
        margin-top: 10px;
        .swiper-slide {
            box-sizing: border-box;
            &:hover {
                opacity: 0.75;
            }
            &-thumb-active {
                border: 2px solid #000;
            }
        }
    }
    &_right {
        display: inline-block;
        width: calc(100% - 600px);
        margin-left: 100px;
        vertical-align: top;
    }
    &_brand {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        h3 {
            font-size: 18px;
            padding-left: 25px;
            font-weight: bold;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
                background-color: #333;
                border-radius: 100%;
            }
        }
        button {
            width: 25px;
            height: 25px;
            background: url('/src/assets/images/icon/ico_share.png') no-repeat center / contain;
        }
    }
    &_name {
        display: block;
        margin-top: 10px;
        font-size: 26px;
        font-weight: 500;
        color: #1a1a1a;
    }
    &_comp {
        display: block;
        margin-top: 10px;
        color: #a1a1a1;
        font-size: 18px;
    }
    &_price {
        margin: 20px 0;
        display: flex;
        align-items: baseline;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 20px;
        &_sale {
            font-size: 32px;
            color: #000;
            font-weight: 500;
            span {
                font-size: 20px;
                padding-left: 3px;
            }
        }
        &_normal {
            color: #c2c2c2;
            font-size: 20px;
            text-decoration: line-through;
            margin: 0 8px 0 5px;
        }
        &_per {
            font-size: 32px;
            color: #c41e20;
        }
    }
    &_evt {
        font-size: 13px;
        color: #1a1a1a;
        line-height: 20px;
    }
    &_rdo {
        margin-top: 20px;
        p {
            font-size: 14px;
            color: #1a1a1a;
        }
        &_box {
            font-size: 0;
            margin-top: 10px;
            .rdo {
                display: inline-block;
                margin: 0 5px 4px 0;
                label {
                    border: 1px solid #e5e5e5;
                    box-sizing: border-box;
                    font-size: 12px;
                    color: #000;
                    padding: 6px 5px;
                    display: block;
                    cursor: pointer;
                }
                input {
                    &:checked + label {
                        border-color: #000;
                    }
                    &:disabled + label {
                        color: #e5e5e5;
                    }
                }
            }
        }
        span {
            display: block;
            font-size: 13px;
            color: #909090;
            word-break: break-all;
            margin-top: 5px;
        }
    }
    &_purc {
        padding: 12px 16px;
        background-color: #f7f7f7;
        border-radius: 8px;
        margin-top: 20px;
        &_name {
            font-size: 16px;
            color: #1a1a1a;
        }
        &_cnt {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            &_inner {
                display: flex;
                align-items: center;
                gap: 15px;
                button {
                    width: 30px;
                    height: 30px;
                    background-color: #fff;
                    border: 1px solid #e5e5e5;
                    border-radius: 50%;
                    position: relative;
                    span {
                        @include a.blind;
                    }
                    &:disabled {
                        opacity: 0.5;
                    }
                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 12px;
                        height: 1px;
                        background-color: #000;
                    }
                    &.plus {
                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 1px;
                            height: 12px;
                            background-color: #000;
                        }
                    }
                }
                > span {
                    min-width: 20px;
                    font-size: 16px;
                    color: #000;
                    text-align: center;
                }
            }
            &_sum {
                font-size: 16px;
                color: #1a1a1a;
            }
        }
    }
    &_order {
        font-size: 16px;
        text-align: right;
        margin-top: 10px;
        span {
            color: #ff752a;
            font-size: 30px;
            margin-left: 12px;
        }
    }
    &_btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 30px;
        gap: 10px;
        a {
            display: block;
            font-size: 13px;
            width: 200px;
            text-align: center;
            padding: 20px 0;
            border-radius: 5px;
            border: 1px solid #000;
            color: #000;
            &.solid {
                background-color: #000;
                color: #fff;
            }
        }
    }
}
.prdTab {
    width: 100%;
    &_btn {
        display: flex;
        align-items: center;
        li {
            font-size: 18px;
            color: #635447;
            text-align: center;
            flex: 1;
            background-color: #f7f7f7;
            padding: 20px 0;
            cursor: pointer;
            &.active {
                background-color: #fff;
                color: #c41e20;
                font-weight: bold;
            }
        }
        &_wrap {
            position: sticky;
            top: 98px;
            z-index: 10;
        }
    }
    &_con {
        margin-top: 30px;
        &_img {
            margin-top: 0;
            max-width: 730px;
            margin: 0 auto;
        }
        &_tit {
            font-size: 24px;
            font-weight: 500;
            color: #1a1a1a;
            &_under {
                padding-bottom: 20px;
                margin-bottom: 20px;
                border-bottom: 2px solid #000;
            }
            span {
                font-size: 14px;
                color: #858585;
                font-weight: 400;
                em {
                    color: #c41e20;
                }
            }
        }
        &_serial {
            display: block;
            font-size: 14px;
            color: #858585;
            margin: 20px 0 40px;
        }
        &_subTit {
            margin-bottom: 20px;
            font-size: 18px;
            line-height: 20px;
        }
        &_tbl {
            width: 100%;
            border-top: 1px solid #000;
            caption {
                @include a.blind;
            }
            tr {
                border-bottom: 1px solid #ebebeb;
            }
            th, td {
                height: 50px;
                vertical-align: middle;
                text-align: left;
                padding: 0 20px;
                font-size: 14px;
            }
            th {
                background-color: #fafafa;
                color: #858585;
            }
        }
        &_rating {
            display: flex;
            background-color: #fafafa;
            border-radius: 8px;
            align-items: center;
            margin-top: 30px;
            height: 220px;
            // border: 1px solid #000;
            &_left {
                width: 100%;
                position: relative;
                strong {
                    display: block;
                    font-size: 18px;
                    margin-bottom: 20px;
                    text-align: center;
                    em {
                        font-size: 16px;
                        color: #adadad;
                        font-weight: 400;
                        word-break: keep-all;
                    }
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: 170px;
                    background-color: #000;
                }
            }
            &_right {
                width: 100%;
                padding: 0 50px;
            }
        }
        &_grade {
            display: flex;
            align-items: center;
            justify-content: center;
            &_star {
                margin-right: 10px;
                color: #c41e20;
            }
            &_num {
                font-weight: bold;
                display: flex;
                align-items: center;
                .today_score {
                    font-size: 32px;
                    color: #1a1a1a;
                }
                .total_score {
                    font-size: 24px;
                    color: #c2c2c2;
                    margin-left: 4px;
                }
            }
        }
        &_pgBar {
            li {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                .fa-star {
                    color: #c41e20;
                    font-size: 14px;
                }
                em {
                    font-size: 14px;
                    font-weight: bold;
                    color: #1a1a1a;
                    margin-left: 4px;
                }
                .progress {
                    width: 79%;
                    height: 8px;
                    position: relative;
                    background-color: #ccc;
                    border-radius: 4px;
                    margin-left: 4px;
                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        border-radius: 4px;
                        background: url('/src/assets/images/common/progress.png') repeat-x;
                    }
                }
            }
        }
        &_review {
            margin: 40px auto 0;
            &_filter {
                padding-bottom: 10px;
                border-bottom: 1px solid #000;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;
                > div {
                    display: flex;
                    align-items: center;
                    .chk {
                        position: relative;
                        label {
                            padding: 0 13px 0 26px;
                            position: relative;
                            font-size: 14px;
                            color: #000;
                            cursor: pointer;
                            background: url('/src/assets/images/icon/ico-chk-off.png') no-repeat left center;
                        }
                        input {
                            &:checked + label {
                                background-image: url('/src/assets/images/icon/ico-chk-on.png');
                            }
                        }
                        &::after {
                            content: '';
                            position: absolute;
                            top: 60%;
                            right: 0;
                            transform: translateY(-50%);
                            width: 1px;
                            height: 15px;
                            background-color: #000;
                        }
                    }
                    .rdo {
                        margin-left: 13px;
                        display: flex;
                        align-items: center;
                        label {
                            font-size: 14px;
                            color: #adadad;
                            padding-left: 20px;
                            position: relative;
                            cursor: pointer;
                            &::before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: 10%;
                                transform: translateY(-50%);
                                width: 3px;
                                height: 3px;
                                background-color: #e5e5e5;
                                border-radius: 50%;
                            }
                        }
                        input {
                            &:checked + label {
                                color: #000;
                                font-weight: bold;
                                &::before {
                                    background-color: #000;
                                }
                            }
                        }
                        div + div {
                            margin-left: 5px;
                        }
                    }
                }
            }
            &_list {
                li {
                    border-bottom: 1px solid #f5f5f5;
                    padding: 20px 0;
                }
            }
            &_detail {
                font-size: 0;
                position: relative;
                .top {
                    display: flex;
                    align-items: center;
                    svg {
                        font-size: 14px;
                        color: #c41e20;
                    }
                    .name {
                        font-size: 14px;
                        color: #000;
                        margin-left: 8px;
                    }
                    .date {
                        font-size: 14px;
                        color: #adadad;
                        margin-left: 8px;
                    }
                }
                .bot {
                    position: relative;
                    margin-top: 20px;
                    .left {
                        width: calc(100% - 140px);
                        display: inline-block;
                        vertical-align: middle;
                        p {
                            font-size: 14px;
                            color: #858585;
                            &.txt {
                                margin-top: 5px;
                                font-size: 17px;
                                color: #000;
                                @include a.ellipsis(1)
                            }
                        }
                        .thumbUp {
                            color: #000;
                            font-size: 14px;
                            margin-top: 20px;
                            span {
                                color: #c41e20;
                                margin-left: 6px;
                                font-weight: bold;
                            }
                        }
                    }
                    .mid {
                        display: inline-block;
                        vertical-align: middle;
                        button {
                            width: 24px;
                            height: 20px;
                            background: url('/src/assets/images/icon/ico_arwFilter.png') no-repeat center;
                            span {
                                @include a.blind;
                            }
                        }
                    }
                    .right {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                        a {
                            width: 90px;
                            height: 90px;
                            border-radius: 8px;
                            box-sizing: border-box;
                            border: 1px solid #000;
                            display: block;
                            overflow: hidden;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}